body,
html {
    background: url('../Wedding_Invitations/rsvp/Villa-Woodbine2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



.container{
    background: rgba(0, 0, 0, 0.5);
    padding:287px;
    margin-top: 700px;
    margin-left: 3650px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}

.col {
    text-align:center;
    line-height: 220px;

}

.text_title {
    font-size: 120px;
    color: white;
    font-family: 'Ruthie', cursive;
}

.text_name {
    font-size: 200px;
    font-family: 'Ruthie', cursive;
}

.text_date {
    font-size: 120px;
    font-family: 'Ruthie', cursive;

}

img {
    width: 450px;
    height: 450px;
    margin-left: 20px;
    margin-top: 50px;
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgb(255, 255, 255);
}


.image-container {
    position:relative;
    background-color: #F5E9BE;
    box-shadow:0 6px 20px rgba(255, 255, 255, 0.5);
    border-radius: 300px;
    margin-right: 40px
}

.overlay {
    position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
}
