body,
html {
    background: url('../rsvp/Villa-woodbine4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 300px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
    color: white;
    border-bottom: solid 1px white;
}

/*Label texts*/
.container {
    color: white;
    font-family: 'Ruthie', cursive;
    line-height: 300px;
    font-style: italic;
    font-size: 200px;
}


/*text-box size*/
.container input {
    border-radius: 15px;
    outline: none;
    padding: 65px;
}


input[type="text"] {
    width: 1300px;
    height: 25px;
    font-size:100px;
}


/* transparent box*/
.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 600px;
    border-radius: 1100px;
    box-shadow: inset -2px 2px 2px white;
}

button {
    font-size: 180px;
    margin-left: 1560px;
    font-family: 'Ruthie', cursive;

}

.rows {
    margin-left: 1000px
}


@media only screen and (max-width: 800px) {
    .container {
        width: 90%;
        height: 90%;
    }
}